.container-fluid{:style => "margin-top: 60px;"}
  .about
    .row
      .span8.offset2
        = markdown :about
        = markdown :'about/pa'
        = markdown :'about/dylan'
        = markdown :'about/contributors'
        = markdown :'about/sponsors'